###Getting started with For Loop

*   For loop is used to iterate over a sequence, starting from the first value to the last. The number of iterations to be performed depends upon the length of the list.
*   You can use range() function to run loop specified number of times.
*   The range() function defaults to 0 as a starting, and increments by 1 by default.

Syntax: 
```
for iteratingVariable in sequence:\
    statement 1\
    statement 2\
    .  .   .   .\
    statement n
```


NOTE: Iteration begins from "start" and ends at "stop-1".

In [ ]:
# Loop will itrate from 0 to 10
for i in range(11):
  print(i,end=" ")

print("\n")
# Your can specify start and stop. Here, loop will itrate from 1 to 10
for i in range(1,11):
  print(i,end=" ")

print("\n")
# we can also specify steps
for i in range(1,11,3):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

1 2 3 4 5 6 7 8 9 10

1 4 7 10

###Nested loop

*   A loop inside a loop is called nested loop.

Let's take pyramid example to understand this.

*   Here, "inner loop" will be executed i times for each iteration of the "outer loop".
*   In 1st iteration of outer loop, inner loop runs 1 time.
*   In 2nd iteration of outer loop, inner loop runs 2 times and so on...

In [ ]:
for i in range(1,6):  
    for j in range(i):  
        print(i,end = '')  
    print()

1
22
333
4444
55555

##Else in For Loop

Else part will be executed after the loop is finish its execution.

In [ ]:
for i in range(8):
  print(i)
else:
  print("Loop i finished")

0
1
2
3
4
5
6
7
Loop i finished

###break and continue statement 

break: use to terminate loop in between

continue: use to stop current iteration and start with next itration, so code below continue statement will not be executed.

In [ ]:
# loop will be terminated when i=2
for i in range(4):
  if (i==2):
    break
  print(i,end=" ")

print("\n")
# loop will be skip 2 while printing elements
for i in range(4):
  if (i==2):
    continue
  print(i,end=" ")

#***Extras***

###One line For loop

In [17]:
# For loop in one line 
for i in range(3): print(i)

print("-----")
# Nested For loop in one line
for i in range(4):
    for j in range(2):
        print((i,j))

print([(i,j) for i in range(4) for j in range(2)]) # for i in range(3): for j in range(3): print((i,j))  :: syntax error

print("-----")
# List operations in For loop in one line
cubes = []
for i in range(4):
    cubes.append(i**3)
print(cubes)

print([i**3 for i in range(4)])

print("-----")
# One line For loop with If
cubes = []
for i in range(13):
    if i%3==0:
        cubes.append(i**3) 
print(cubes)

print([i**3 for i in range(13) if i%3==0])

print("-----")
# One line For loop with If Else
for i in range(13):
    if i<8:
        j = i**3
    else:
        j = 0    
    print(j)

for i in range(13): print(i**3 if i<8 else 0)

0
1
2
-----
(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(3, 0)
(3, 1)
[(0, 0), (0, 1), (1, 0), (1, 1), (2, 0), (2, 1), (3, 0), (3, 1)]
[0, 1, 8, 27]
[0, 1, 8, 27]
[0, 27, 216, 729, 1728]
[0, 27, 216, 729, 1728]
0
1
8
27
64
125
216
343
0
0
0
0
0
0
1
8
27
64
125
216
343
0
0
0
0
0

###For loop to iterate List, Tuple, Set, String


*   Same syntax to iterate all 4
*   Difference between these 4 during iteration is is\
&nbsp; List : ordered, mutable \
&nbsp; Tuple : ordered, immutable\
&nbsp; Set : unordered, mutable \
&nbsp; String :  mutable

In [4]:
fruits_list = ["mango", "orange", "cherry"]
fruits_tuple = ("mango", "orange", "cherry")
fruits_set = {"mango", "orange", "cherry"}
fruit_string = "apple"

for fruit in fruits_list:
  print(fruit,end=" ")

print("")
for fruit in fruits_tuple:
  print(fruit,end=" ")

print("")
for fruit in fruits_set:
  print(fruit,end=" ")

print("")
for fruit in fruit_string:
  print(fruit,end=" ")

mango orange cherry
mango orange cherry
cherry orange mango
a p p l e

###For loop to iterate dictionary

In [11]:
data_dict = {'color': 'red', 'game': 'cricket','fruit': 'mango'}
for data in data_dict:
  print(data,end=" ")

print("")
for data in data_dict:
  print(data_dict[data],end=" ")

print("")
for data_key,data_value  in data_dict.items():
  print(data+":"+data_value,end=" ")

print("")
for data in data_dict.keys():
  print(data,end=" ")

print("")
for data in data_dict.values():
  print(data,end=" ")

color game fruit
red cricket mango
fruit:red fruit:cricket fruit:mango
color game fruit
red cricket mango